{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="icon" href="{% static 'EventLogo.png' %}" >
    <title>Serwis agregujacy Logowanie </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <body class="text-center">
    <form class="form-signin" style="margin: auto;" method="post">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Sign up for the Event</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </body>
{% endblock %}

